body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.search-box,
.weather-container,
.map-box,
.add-info {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.search-box {
    max-width: 400px;
}

.weather-container {
    max-width: 400px;
    
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#holidays {
    margin-top: 20px;
}

#holidays ul {
    list-style: none;
    padding: 0;
}

#holidays li {
    margin-bottom: 8px;
    font-size: 16px;
}

#holidays li::before {
    content: '•';  /* Use a bullet point as a list item marker */
    margin-right: 8px;
    color: #3498db;  /* Set the color of the bullet point */
}

